<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MiddRides-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D057FF851E8DA4E700EB3479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D057FF991E8DA4E700EB3479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D057FFA41E8DA4E700EB3479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
